
/* Begin Structure */

* { margin: 0; padding: 0; }
hr { clear:both; }
ul, li { list-style: none; }

a, h2 a:hover, h3 a:hover {
	text-decoration: none;
	color: #158;
}
a:hover { text-decoration: underline; }

p { margin: 15px 0; }

p img { padding: 0; }

body {
    font: normal 13px Arial, Sans-Serif;
}

#main-menu {
    height: 40px;
	text-align: left;
	background: #222;
}
#main-menu ul {
	float: left;
	margin-top: 5px;
	border-right: 1px solid #AAA;
	padding: 0 5px;
}

#main-menu ul li {
	float: left;
}

#main-menu .menu-btn {
	background: transparent;
	border: none;
	color: #FFF;
	cursor: pointer;
	padding: 5px 10px;
	height: 30px;
	font-weight: bold;
}
#main-menu .menu-btn:hover {
	text-decoration: underline;
}

/* main window with open files in tabs --------------------------- */
#editor-panel {
	position: absolute;
    top: 40px;
    right: 0;
    left: 0;
    bottom: 0;
}

#tileset-panel {
	position: absolute;
	background: #555;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 320px;
    overflow: auto;
}

#map-panel {
	background: url("img/screen_bg.png");
	position: absolute;
    top: 0;
    left: 320px;
    right: 0;
    bottom: 0;
    z-index: 1;
    overflow: auto;
}

#selection_cursor {
	position: absolute;
	outline: solid 2px red;
	z-index: 5;
}

/* lateral menu with widgets ---------------------------  */
.menu-tile {
	float: left;
	cursor: pointer;
}

.menu-tile-selected {
	outline: solid 2px white;
}
