
/* Begin Structure */

* { margin: 0; padding: 0; }

body {
    font: normal 13px Arial, Sans-Serif;
}
hr { clear:both; }
ul, li { list-style: none; }

a, h2 a:hover, h3 a:hover {
    text-decoration: none;
    color: #158;
}
a:hover { text-decoration: underline; }

p { margin: 15px 0; }

p img { padding: 0; }

button {
    cursor: pointer;
    outline: none;
}

input {
    border: 1px solid #CCC;
    padding: 5px;
    border-radius: 3px;
}

.unselectable {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.form-row {
    padding: 5px 0;
}

.form-row label {
    color: #FFF;
    font-weight: bold;
    font-size: 1.1em;
    margin-right: 10px;
}



#main-menu {
    height: 40px;
    text-align: left;
    background: #222;
}
#main-menu ul {
    float: left;
    margin-top: 5px;
    border-right: 1px solid #AAA;
    padding: 0 5px;
}

#main-menu ul li {
    float: left;
}

#main-menu .btn-menu {
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    border: none;
    border-radius: 3px;
    color: #FFF;
    padding: 5px 10px;
    height: 30px;
    font-weight: bold;
    margin-right: 5px;
}
#main-menu .btn-menu:hover {
    background-color: #333;
    text-decoration: none;
}
#main-menu .btn-menu.active {
    background-color: #666;
    color: #FFF;
}

#main-menu .btn-tool { width: 40px; }
#main-menu .btn-tool span { display: none; }
#main-menu .btn-file {
    background-position: 5px center;
    padding-left: 25px
}

#btn-file-new { background-image: url("data/img/new.png"); }
#btn-file-import { background-image: url("data/img/import.png"); }
#btn-file-export { background-image: url("data/img/export.png"); }
#btn-tool-pen { background-image: url("data/img/pen.png"); }
#btn-tool-rect { background-image: url("data/img/rect.png"); }
#btn-tool-fill { background-image: url("data/img/fill.png"); }

#editor-panel {
    background: #DDD;
    position: absolute;
    top: 40px;
    right: 0;
    left: 0;
    bottom: 0;
}

/* TILESET PALETTE --------------------------- */
#sidebar-panel {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 335px;
    overflow: hidden;
}

#palette-panel {
    background: #E1007E;
    overflow-y: scroll;
    position: relative;
    width: 335px;
    height: 60%;
    display: none;
}

#palette-panel #palette-overlay {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
}

#palette-panel #palette-selector {
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}
#palette-panel #palette-selector:after,
#palette-panel #palette-selector:before {
    position: absolute;
    display: block;
    content: "";
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}
#palette-panel #palette-selector:after {
    border: solid 3px #FFF;
    left: 2px;
    top: 2px;
    bottom: 2px;
    right: 2px;
    z-index: 2;
}
#palette-panel #palette-selector:before {
    border: solid 7px #333;
    z-index: 1;
}

/* PROJECT PANEL --------------------------- */
#project-panel {
    width: 335px;
    height: 40%;
}


/* MAP ---------------------------  */
#board-panel {
    position: absolute;
    top: 0;
    left: 335px;
    right: 0;
    bottom: 0;
    z-index: 1;
    overflow: auto;
}

#board-panel #board {
    background: url("data/img/board.png");
    position: absolute;
}

#board-panel #board-overlay {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 15;
}

#board-panel .layer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: .7;
}
#board-panel .layer.active { opacity: 1; }

#board-panel #evt-layer { z-index: 3; }
#board-panel #fg-layer { z-index: 2; }
#board-panel #bg-layer { z-index: 1; }

#board-panel #board-selector {
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    display: none;
    left: 0;
    top: 0;
    z-index: 10;
}
#board-panel #board-selector:after,
#board-panel #board-selector:before {
    position: absolute;
    display: block;
    content: "";
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}
#board-panel #board-selector:after {
    border: solid 3px #FFF;
    left: 2px;
    top: 2px;
    bottom: 2px;
    right: 2px;
    z-index: 2;
}
#board-panel #board-selector:before {
    border: solid 7px #333;
    z-index: 1;
}


/* DIALOG ---------------------------  */
#dialog-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 100;
}

.dialog-container {
    background: #555;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    min-width: 400px;
    margin-top: 10%;
    display: inline-block;
    z-index: 101;
    overflow: hidden;
}

.dialog-titlebar {
    position: relative;
    background: #222;
    text-align: left;
    min-height: 40px;
}

.dialog-titlebar .title {
    color: #FFF;
    font-size: 1.3em;
    font-weight: bold;
    line-height: 40px;
    padding-left: 1em;
    margin: 0;
}

.dialog-titlebar .btn-close {
    border: 0;
    background: transparent;
    position: absolute;
    right: 10px;
    top: 10px;
    display: block;
    width: 20px;
    height: 20px;
}
.dialog-titlebar .svg-icon { fill: #FFF; }

.dialog-content {
    font-size: 1.1em;
    padding: 20px;
    text-align: left;
}

.dialog-content p {
    color: #FFF;
    margin: 0;
}

.dialog-button-panel {
    background: #444;
    padding: 10px;
    text-align: right;
}

.dialog-button-panel button {
    border: 1px solid #555;
    background: #333;
    border-radius: 3px;
    padding: 5px 10px;
    color: #FFF;
    font-size: 1.2em;
    margin-left: 10px;
}

.dialog-button-panel button:hover {
    background: #3A3A3A;
}
